[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
python-githooks = "*"

[packages]
numpy = "*"

[requires]
python_version = "3.6"

[scripts]
init = "githooks"
fix = "autopep8 -vir ."
